<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles.css">
  <title>Main</title>
</head>
<body>
  <%- include('partials/nav'); %>
  <h1>Form Submission</h1>
  <p>This is a form submission page</p>

  <h3>Form successfully submitted</h3>
  <p><strong>Full Name: </strong><%= formData.fullname %></p>
  <p><strong>Email: </strong><%= formData.email %></p>
</body>
</html>